debug/
target/

**/*.rs.bk
*.pdb

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

server/config.json
server/auth.json
release
call-for-stratagems/app/build
call-for-stratagems/app/release
call-for-stratagems/app/src/main/assets/database/stratagem_db.db-wal
call-for-stratagems/app/src/main/assets/database/stratagem_db.db-shm
.vscode/settings.json
.vscode/launch.json
call-for-stratagems/.idea/misc.xml
call-for-stratagems/.idea/deploymentTargetSelector.xml
